{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="blog">
    <h1>Asi funciona</h1>
    <p>Las contraseñas formadas por palabras o fechas son fáciles de adivinar o descubrir, ya que los hackers y los programas de fuerza bruta utilizan diccionarios y algoritmos para intentar descifrar estas contraseñas. Además, es probable que las mismas contraseñas se utilicen en varias cuentas, lo que aumenta el riesgo de que se descubran.
    </p></div>
    <p>Por otro lado, las contraseñas aleatorias generadas por un programa como el mencionado anteriormente, proporcionan una mayor seguridad debido a que es mucho más difícil para un atacante descifrarlas. Además, cada vez que se genera una contraseña, se obtiene una combinación única de caracteres, lo que la hace aún más segura.
    </p></br>
    <p>La aplicación web se ha desarrollado utilizando el framework de Python, Django. Este programa específicamente es un generador de contraseñas aleatorias, que combina letras, números y signos de puntuación para crear una contraseña segura.
    </p></br>
    <p>En resumen, es recomendable utilizar contraseñas aleatorias en lugar de palabras o fechas, ya que ofrecen una mayor seguridad y protección contra posibles ataques y vulnerabilidades.
    </p></br>
</div>
{% endblock %}